@import '@styles/variables';
@import '@styles/mixins';

cc-slider {
  .cc-slider {
    overflow: hidden;

    &__stage {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      @include transition(transform);

      > cc-slide {
        flex: 1 0 100%;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      left: 0;
      width: 100%;

      .cc-slider {
        &__next,
        &__prev {
          display: block;
          height: 20px;
          width: 20px;
          cursor: pointer;
          @include transition(opacity);

          &[disabled] {
            cursor: default;
            opacity: 0;
            @include transition(opacity);
          }
        }
      }
    }
  }
}
