:root {
  --c-bg-color: #{$bg-lite};
  --c-bg-color__inverse: #{$bg-dark};
  --c-bg-color-grey: #{$c-grey-300};

  --c-f-color: #{$fc-def};
  --c-f-color__inverse: #{$fc-lite};
  --c-hr-color: #{$border-color-def};

  --c-link-hover-color: #{$c-red};

  --c-border-color: #{$border-color-def};

  --c-btn-f-color: #{$c-white};
  --c-btn-bg-color: #{lighten($c-blue, 10%)};
  --c-btn-hover-f-color: #{darken($c-blue, 10%)};
  --c-btn-hover-bg-color: #{lighten($c-blue, 50%)};

  --c-btn-box-shadow: #{$bs-def};
}

body[data-theme='dark'] {
  --c-bg-color: #{$bg-dark};
  --c-bg-color__inverse: #{$bg-lite};
  --c-bg-color-grey: #{$c-grey-700};

  --c-f-color: #{$fc-lite};
  --c-f-color__inverse: #{$fc-def};
  --c-hr-color: #{$border-color-lite};

  --c-link-hover-color: #{$c-red};

  --c-border-color: #{$border-color-lite};

  --c-btn-f-color: #{$c-white};
  --c-btn-bg-color: #{lighten($c-blue, 10%)};
  --c-btn-hover-f-color: #{darken($c-blue, 10%)};
  --c-btn-hover-bg-color: #{lighten($c-blue, 50%)};

  --c-btn-box-shadow: #{$bs-def};
}
