@import '@styles/variables';
@import '@styles/mixins';
$nav-bs-open: 2px 3px 4px -1px rgb(0, 0, 0, 0.1);

*[class^="cc-report-viewer"] {
  cc-dropdown {
    .cc-dropdown {
      border: solid 1px;
      border-radius: 4px;
      border-color: var(--c-border-color);
      background-color: var(--c-bg-color-grey);

      > .dropdown-label {
        background-color: var(--c-bg-color);
      }

      > * {
        display: block;
        padding: 12px 24px;
      }

      h4 {
        font-weight: 700;
        padding-right: 8px;
        line-height: 1;
        white-space: nowrap;
      }

      a {
        color: $c-green;
      }

      span {
        line-height: 1.2;
      }

      &[open] > .dropdown-label {
        box-shadow: $nav-bs-open;
      }
    }
  }
}
