@mixin font(
  $font-family: $ff-default,
  $font-size: $fs-3,
  $font-weight: $fw-reg,
  $line-height: $lh-1
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
