.toggle-theme {
  width: unset;
  flex-direction: row-reverse;

  label {
    right: 0;
    position: static;

    > em {
      text-transform: uppercase;
      text-align: right;
      letter-spacing: 1px;
      max-width: calc(100% - #{$toggle-width} - #{$m-3});
      font-size: $fs-2;
      font-weight: $fw-med;
      position: absolute;
      top: $m-1;
      left: 0;
    }

    &:after {
      left: calc(100% - #{$toggle-width} + #{$m-1});
    }
  }
}
