#axe__report-submit {
    overflow: hidden;

    > .loader__1 {
        transform: translateY(-100%);
        @include transition-fast(transform);
    }

    &[disabled] {
        pointer-events: none;
        
        > .loader__1 {
            transform: translateY(0);
            @include transition-fast(transform);
        }
    }
}