#main-content {
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-bg-color__inverse);
  border: none;
  border-radius: $br-3;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-btn-bg-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--c-f-color);
}

::-webkit-scrollbar-track {
  background: var(--c-bg-color);
  border: 0px none #ffffff;
}

::-webkit-scrollbar-track:hover {
  background: var(--c-bg-color);
}

::-webkit-scrollbar-track:active {
  background: var(--c-bg-color);
}
