* {
  font-family: $ff-default;
}

h1,
.h1 {
  font-size: $hs-1;
  margin-bottom: $m-3;
}

h2,
.h2 {
  font-size: $hs-2;
  margin-bottom: $m-2;
}

h3,
.h3 {
  font-size: $hs-3;
  margin-bottom: $m-2;
}

h4,
.h4 {
  font-size: $hs-4;
  margin-bottom: $m-2;
}

h5,
.h5 {
  font-size: $hs-5;
  margin-bottom: $m-1;
}

h6,
.h6 {
  font-size: $hs-6;
  margin-bottom: $m-1;
}

a,
p {
  line-height: map-get($line-heights, 'lh-2');
}

code {
  background-color: var(--c-bg-color-grey);
  padding: calc(#{$m-1} / 2);
  color: $c-red;
  border-radius: 2px;
}

.text-no-wrap {
  white-space: nowrap !important;
}
